<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        form {
        width: 60%
        }

        textarea {
        width: 75%;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
        }

        ul {
        background: #3399ff;
        padding: 20px;
        width: 75%;
        }


        ul li {
        background: #cce5ff;
        margin: 10px;
        padding: 5px;
        }
    </style>
    <meta charset="UTF-8">
    <title>User Messages</title>
</head>
<body>

<form action="create-message" method="post">
    <textarea name="messageInput" placeholder="Enter Message"> </textarea>
    <button type="submit">Submit</button>
</form>

<h3>Messages by {{name}}</h3>
<ul>
    {{#messages}}
    <li>{{message}}</li>
    {{/messages}}
</ul>

</body>
</html>